.body{
    display: grid;
    grid-template-columns: 4fr 1fr;
    
}
.card{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    background-color: azure;
    margin: auto;
   
   
}
.menu{
    padding: 20px;
}
@media screen and (max-width:600px){
    .body{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto; 
    }
    .card{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        
    }
}
