.cart{
    position: sticky;
    top: 100px;
}

.profile{
    display: flex;
    justify-content: space-around; 
    height: 30px;
    align-items: center;

}
 .menu img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 10px;
}

.profile-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background-color: azure;
}
.height{
    margin:0 25px;
}
.break{
    display: flex;
    justify-content: space-between;
    background-color: azure;
    height: 50px;
}
.break button{
    border: 1px solid black;
    border-radius: 40px;
    background-color: white;
    padding: 10px;
    margin: 5px;
}

.cart h4{
    background-color:azure;
    padding: 15px;
}
.activity{
    background-color: blue;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}
.activity:hover{
    background-color: aquamarine;
}
@media screen and (max-width:500px){
    .profile{
        flex-direction: column;
        margin-top: 40px;
    }
    .menu-text{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .profile-info{
        flex-direction: column;
        margin-top: 10px;
        padding-top: 10px;
        background-color: white;
    }
    .break{
        flex-direction: column;
        margin-bottom: 150px;
        background-color: white;

    }
}

